.wrapper_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.dish_bar{
    display: flex;
    width:50vh;
    height:5vh;
    justify-content: center;
    align-items: center;
    background: rgb(107, 0, 206);
    color: aliceblue;
    border-radius: 8px;
    font-size: 20px
}